body {
    background-color: #141414;
}
a,p,h1,h2,li{
	font-family: sans-serif;
}
.nav_header{
	display:flex;
}
#div_menu_general{
    height: auto;
    width: 100%;
    background: #313131;
	z-index:200;
	position:fixed;
    box-shadow: 0px 0px 12px 5px #000000;
}
#div_menu_sections {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#menu_laptop {
	margin:0px;
    display: flex;
}
.sections:hover, .session:hover{
    background:#525252;
}
.sections {
    border-color: gray;
    border-left-style: solid;
    border-width: thin;
}
.session{
	border-color: gray;
	border-left-style: solid;
    border-right-style: solid;
    border-width: thin;
}
.sections_mobile{
	border-color: gray;
    border-bottom-style: solid;
    border-width: thin;
}

#div_menu_sections ul li {
    list-style: none;
}
#div_menu_sections ul a {
    text-decoration: none;
    color: white;
	padding: 22px;
    line-height: 60px;
}
#img_logo{
    width: auto;
    height: 30px;
    margin-top: 15px;
}
#menu_home ul a {
    padding-right: 180px;
    margin-left: -15px;
	line-height: 33px;
}
#menu_home ul ul{
	display:none;
}
#menu_home ul li{
	padding:0;
}
#menu_logo_home {
    width: 32px;
    padding: 12px;
}
#div_footer {
    height: auto;
    width: auto;
    background: #313131;
    z-index: 200;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
    box-shadow: 0px 0px 12px 5px #000000;
}
#div_footer p {
    margin: auto;
	color: white;
}
#div_footer a{
    color: #8a8aff;
}
.img_book{
	width: auto;
    height: 380px;
    position: relative;
    z-index: 1;
    margin-bottom: -5px;
}
.img_book:hover{
	opacity:0;

}
.section-container{
	position: relative;
}

.section-container table{
	position: absolute;
    top: 0%;
    left: 0%;
    font-size: 15px;
    width: 100%;
    text-align: justify;
    color: black;
    border-spacing: unset;
	background:white;
	height: 100%;
}

.section-container table tr td{
	border-style:solid;
	border-width:thin;
	border-spacing:unset;
}
.first-td-home {
    background-color: #dddddd;
    text-align: center;
}
.first-td-home h2 {
    font-size: 12px;
}
.second-td-home{
    font-size: 13px;
	font-family: system-ui;
}

.title-section {
    color: white;
    margin-top: 32px;
    text-align: center;
    font-size: 30px;
}
.section-element {
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

#buscador {
    margin-left: auto;
}
input[type="search"]{
	background:#fff;
    width:300px;
    margin-top:10px;
    padding:10px 4px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    transition:all 0.5s;
}
@media only screen and (min-width: 1024px) {
	#menu_home{
		display:none;
	}
}
@media only screen and (max-width: 1024px) {
	#menu_laptop{
		display:none;
	}
	#menu_home{
		display:block;
	}
	#menu_home ul{
		margin:auto;
		padding:0;
	}
	#menu_home:hover ul ul{
		display: block;
		position: absolute;
		background: #3a3a3a;
		width: 100%;
		z-index: 100;
		transform: translate(-105px, 0px);
	}
	#menu_home:hover ul ul li{
		padding:16px;
	}
	#menu_home ul ul li:hover{
		background:#525252;
	}
	#div_menu_sections{
		justify-content: space-between;
	}
	#buscador{
		margin-left:unset;
	}
	.img_book{
		height: 430px;
	}	
	input[type="search"]{
		width:auto;
	}

}