body {
	margin:0;
}
div#div_login {
    text-align: center;
    border-style: solid;
    border-width: thin;
    width: 300px;
    margin: auto;
    height: 170px;
    padding: 30px;
    box-shadow: 0px 0px 3px 0px #646464;
    border-color: #a4a4a4;
    border-radius: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: white;
}
input#email_login {
	font-size:14px;
    width: 93%;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    padding: 10px;
}
input#pswd_login {
	font-size:14px;
    width: 93%;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    padding: 10px;
}
input#button_login {
	font-size:14px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background: #424fae;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}
input#button_login:hover{
	cursor:pointer;
	background:#5f6fe6;
}
div#div_menu_general{
    height: auto;
    width: 100%;
    background: #3a3a3a;
}
div#div_menu_sections {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#menu_laptop {
	margin:0px;
    display: flex;
	padding:0;
}
#section1:hover,#section2:hover,#section3:hover, #section4:hover {
    background:#525252;
}
div#div_menu_sections ul li {
    list-style: none;
    padding: 20px;
}
div#div_menu_sections ul a {
    text-decoration: none;
    color: white;
}

#section1 {
    border-color: gray;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thin;
}
#section2{
	border-color: gray;
    border-right-style: solid;
    border-width: thin;
}
#section3{
	border-color: gray;
    border-right-style: solid;
    border-width: thin;
}
#section4{
	border-color: gray;
    border-right-style: solid;
    border-width: thin;
}
#img_logo{
    width: auto;
    height: 60px;
}
div#buscador {
    margin-left: auto;
}
.img_book{
	width: auto;
    height: 300px;
    position: relative;
    z-index: 1;
    margin-bottom: -5px;
}
.img_book:hover{
	opacity:0;

}
div#all_sections {
    overflow: hidden;
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}


input[type="search"]{
	background:#fff;
    width:300px;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    transition:all 0.5s;
}


#all_sections section{
	position: relative;
    display: inline-block;
}

#all_sections section table{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    width: 100%;
    text-align: justify;
    color: black;
    border-spacing: unset;
	background:white;
	height: 100%;
}

#all_sections section table tr td{
	border-style:solid;
	border-width:thin;
	border-spacing:unset;
}
h1#title_store {
    text-align: center;
    text-decoration: underline;
    color: black;
}
img#logo_index {
    position: absolute;
    width: 70px;
    padding-top: 122px;
    padding-left: 112px;
}
#menu_home nav ul ul{
	display:none;
}
#menu_home nav ul li{
	padding:0;
}
img#menu_logo_home {
    width: 32px;
    padding: 12px;
}
	
@media only screen and (min-width: 1024px) {
	#menu_home{
		display:none;
	}
}
@media only screen and (max-width: 1024px) {
	#menu_laptop{
		display:none;
	}
	#menu_home{
		display:block;
	}
	#menu_home nav ul{
		margin:auto;
		padding:0;
	}
	input[type="search"]{
		width:auto;
	}
	div#buscador{
		margin-left:unset;
	}
	div#div_menu_sections{
		justify-content: space-between;
	}
	#menu_home:hover nav ul ul{
		display: block;
		position: absolute;
		background: #3a3a3a;
		width: auto;
	}
	#menu_home:hover nav ul ul li{
		padding:10px;
	}
	#menu_home nav ul ul li:hover{
		background:#525252;
	}


}

@media only screen and (max-width: 400px) {
div#div_login {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
input#pswd_login, input#email_login{
	width:-webkit-fill-available;
	
}
}
